﻿<template name="signup">
    <button type="button" id="btn-modal-close" class="btn btn-default hidden" data-dismiss="modal">Close</button>

    <h2 class="form-signin-heading">Sign Up</h2>
    <label for="inputEmail" class="sr-only">Name</label>
    <input type="email" id="txt-name-su" class="form-control" placeholder="Name" required autofocus>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="txt-email-su" class="form-control" placeholder="Email" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="txt-password-su" class="form-control" placeholder="Password" required>

    <button class="btn btn-primary btn-block" id="btn-signup" type="submit">Sign Up</button>

</template>