﻿<template name="cart">

  
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">

            Items in Cart

        </div>


        <!-- Table -->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="text-align: center;">Image</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Price</th>
                    <th style="text-align: center;" class="hidden-xs">Description</th>
                    <th style="text-align: center;" class="hidden-xs">Category</th>
                    <th style="text-align: center;">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each getcart}}
                <tr>
                    <td width="110px"><img src="{{img}}" style="width:150px;" alt="{{name}}"></td>
                    <td style="text-align: center;">{{name}}</td>
                    <td style="text-align: center;">{{price}}</td>
                    <td class="hidden-xs" style="text-align: center;">{{description}}</td>
                    <td class="hidden-xs" style="text-align: center;">{{categoryname}}</td>

                    <td width="60px" style="text-align: center"><button class="btn btn-danger" data-action="remove-item" value="{{_id}}"><i class="glyphicon glyphicon-remove"></i></button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="panel-body">
            {{#if iscart}}
            <button class="btn btn-success pull-right" id="btn-checkout">Check Out <i class="glyphicon glyphicon-chevron-right"></i></button>
            {{/if}}
        </div>
    </div>
   
</template>