<template name="front">
    <button type="button" class="btn btn-primary hidden" id="btn-modal" data-toggle="modal" data-target="#myModal">
        
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            {{#if currentUser}}
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add to Cart</h4>
                </div>
                <div class="modal-body">
                    <div class="media">
                        <div class="media-left media-middle">
                       
                                <img id="img-selected" style="height:120px;" class="media-object" src="..." alt="...">
                            
                        </div>
                        <div class="media-body">
                            <h2 id="lbl-selected-name" class="media-heading"></h2>
                            <p ><span id="lbl-selected-cat"></span> <br /> <b>Price: </b><span id="lbl-selected-price"></span><br /><b>Description: </b><span id="lbl-selected-des"></span> </p>
                            <button id="btn-addtocart" class="btn btn-success">Add to Cart</button>
                           
                        </div>
                    </div>
                </div>
                
            </div>
            {{else}}
            <div class="modal-content">
               
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#signin" aria-controls="signin" role="tab" data-toggle="tab">Sign In</a></li>
                        <li role="presentation"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign Up</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="signin">

                           {{>signin}}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="signup">
                            {{>signup}}

                        </div>
                    </div>
                </div>
              
            </div>
            {{/if}}
          
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   
                    <li><a class="btn-cart" href=""><i style="font-size:20px;" class="glyphicon glyphicon-shopping-cart"></i><span style="font-size:10px;" class="label label-primary">{{cartitems}}</span></a></li>
                    
                </ul>
             
                <ul class="nav navbar-nav navbar-right">
                    {{#unless signedIn}}
                    <li><a class="btn-modal" href="">Sign In</a></li>
                    {{else}}
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="btn-signout" href="">Sign Out</a></li>
                            {{#if isAdmin}}
                            <li><a class="btn-dashboard" href="">Dashboard</a></li>
                            {{/if}}
                        </ul>
                    </li>
                    {{/unless}}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="_content">
        <br />
        {{> Template.dynamic template=body}}
    </div>
</template>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            