﻿<template name="categories">
  

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">New Category</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txt-name">Name</label>
                        <input type="text" class="form-control" id="txt-name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label >Image</label>
                        {{>uploadForm}}
                    </div>
                   
                    <button type="submit" class="btn btn-success" id="btn-create">Create</button>
                </div>
              
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  
    
    
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">
                    <i class="glyphicon glyphicon-plus"></i>
                </button> &nbsp;&nbsp;
                Categories
               
            </div>
            

            <!-- Table -->
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center;">Image</th>
                        <th style="text-align: center;">Name</th>
                        <th style="text-align: center;">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each getcategories}}
                    <tr>
                        <td width="110px"><img src="{{img}}" style="width:150px;" alt="{{name}}"></td>
                        <td style="text-align: center;">{{name}}</td>
                        <td width="60px" style="text-align: center"><button class="btn btn-danger" data-action="remove-item" value="{{_id}}" ><i class="glyphicon glyphicon-remove"></i></button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            </div>

 
   
</template>