﻿<template name="uploadForm">
    <div style="display:none;"> {{reset}}</div>
    {{#unless err}}
    {{#unless completed}}
    {{#with currentUpload}}
    <div class="progress">
        <div class="progress-bar bg-cyan progress-bar-striped active" role="progressbar" aria-valuenow="{{progress.get}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress.get}}%">
            {{file.name}}
        </div>
    </div>
    
   
    {{else}}
    <input id="fileInput" type="file" />
    {{/with}}
    {{else}}
    <div class="progress">
        <div class="progress-bar bg-teal progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            COMPLETED
        </div>
    </div>
    {{/unless}}
    {{else}}
    <p class="font-bold col-pink">Error occured while uploading, please try again</p>
    <input id="fileInput" type="file" />
    {{/unless}}
</template>