﻿<template name="signin">
    <button type="button" id="btn-modal-closesi" class="btn btn-default hidden" data-dismiss="modal">Close</button>

    <h2 class="form-signin-heading">Sign In</h2>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="txt-email-si" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="txt-password-si" class="form-control" placeholder="Password" required>

    <button class="btn  btn-primary btn-block" id="btn-signin" type="submit">Sign In</button>

</template>