﻿<template name="orders">

    
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">

            Orders (pending)

        </div>


        <!-- Table -->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="text-align: center;">User</th>
                    <th style="text-align: center;">Time</th>
                    <th style="text-align: center;">Items</th>
                    <th style="text-align: center;">Canceled</th>
                    <th style="text-align: center;">Completed</th>
                </tr>
            </thead>
            <tbody>
                {{#each getorders}}
                <tr>
                    <td style="text-align: center;">{{username}}</td>
                    <td style="text-align: center;">{{orderedtime time}}</td>
                   
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Name</th>
                                    <th style="text-align: center;" class="hidden-xs" >Price</th>
                                    <th style="text-align: center;" class="hidden-xs" >Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each item in items}}
                                <tr>
                                    <td style="text-align: center;">{{item.name}}</td>
                                    <td style="text-align: center;"  class="hidden-xs" >{{item.price}}</td>
                                    <td style="text-align: center;" class="hidden-xs" >{{item.categoryname}}</td>

                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                

                    <td width="60px" style="text-align: center"><button class="btn btn-danger" data-action="cancel-item" value="{{_id}}"><i class="glyphicon glyphicon-remove"></i></button></td>
                    <td width="60px" style="text-align: center"><button class="btn btn-success" data-action="complete-item" value="{{_id}}"><i class="glyphicon glyphicon-ok"></i></button></td>
                   </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="panel-body">
            {{#if iscart}}
            <button class="btn btn-success pull-right" id="btn-checkout">Check Out <i class="glyphicon glyphicon-chevron-right"></i></button>
            {{/if}}
        </div>
    </div>
   
</template>