﻿<template name="ordersreport">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">

            Orders

        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="date-from">Date From</label>
                <input type="text" class="form-control datepickerFrom" placeholder="Date From" required>
            </div>
            <div class="form-group">
                <label for="date-to">Date To</label>
                <input type="text" class="form-control datepickerTo"  placeholder="Date To"/>
            </div>
            <button class="btn btn-primary pull-right" id="btn-search">Search for Orders by Date</button>
        </div>

        <!-- Table -->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="text-align: center;">User</th>
                    <th style="text-align: center;">Status</th>
                    <th style="text-align: center;">Time</th>
                    <th style="text-align: center;">Items</th>
                </tr>
            </thead>
            <tbody>
                {{#each getorders}}
                <tr>
                    <td style="text-align: center;">{{username}}</td>
                    {{#if pending status}}
                    <td style="text-align: center;background: #F7DC6F">{{status}}</td>
                    {{/if}}
                    {{#if completed status}}
                    <td style="text-align: center;background: #82E0AA;">{{status}}</td>
                    {{/if}}
                    {{#if canceled status}}
                    <td style="text-align: center;background: #F1948A">{{status}}</td>
                    {{/if}}
                    <td style="text-align: center;">{{orderedtime time}}</td>
                   
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Name</th>
                                    <th style="text-align: center;" class="hidden-xs" >Price</th>
                                    <th style="text-align: center;" class="hidden-xs" >Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each item in items}}
                                <tr>
                                    <td style="text-align: center;">{{item.name}}</td>
                                    <td style="text-align: center;" class="hidden-xs" >{{item.price}}</td>
                                    <td style="text-align: center;" class="hidden-xs" >{{item.categoryname}}</td>

                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                

                   </tr>
                {{/each}}
            </tbody>
        </table>
        
    </div>
   
</template>