﻿<template name="home">
 
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {{#each cat in categories}}
        <div class="panel panel-default">
            <a role="button" style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" href="#{{cat.name}}" aria-expanded="true" aria-controls="collapseOne">

                <div style="background: url({{cat.img}});
    background-size: cover;height:150px;background-position:center;" class="panel-heading" role="tab" id="headingOne">
                    <h1  style="color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;">
                        {{cat.name}}

                    </h1>
                </div>
            </a>
            <div id="{{cat.name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body" style="background: url('img/items-back.jpg');background-position:center;background-size: cover;">
                    
                    <ul style="list-style:none;">
                        {{#each item in items cat._id}}
                        <li><button style="background: url({{item.img}});
    background-size: cover;height:150px;width:100%;background-position:center;" class="btn" data-action="choose-item" value="{{item._id}}"><h1 style="color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;">
    {{item.name}}

</h1></button></li>
                        {{/each}}

                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
      
    </div>

</template>