﻿<template name="back">
    

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              
                <ul class="nav navbar-nav navbar-right">

                    <li><a class="btn-items" href="">Items</a></li>
                    <li><a class="btn-categories" href="">Categories</a></li>
                    <li><a class="btn-orders" href="">Orders</a></li>
                    <li><a class="btn-ordersreport" href="">Orders Report</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#unless signedIn}}
                    <li><a class="btn-modal" href="">Sign In</a></li>
                    {{else}}
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="btn-signout" href="">Sign Out</a></li>
                            <li><a class="btn-home" href="">Home</a></li>

                        </ul>
                    </li>
                    {{/unless}}
                </ul>


               
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="_content">
        <br />
        {{> Template.dynamic template=body}}
    </div>

</template>