﻿<template name="items">
  
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">New Item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txt-name">Name</label>
                        <input type="text" class="form-control" id="txt-name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label >Image</label>
                        {{>uploadForm}}
                    </div>
                    <div class="form-group">
                        <label for="txt-price">Price</label>
                        <input type="text" class="form-control" id="txt-price" placeholder="Price" required>
                    </div>
                    <div class="form-group">
                        <label for="txt-description">Description</label>
                        <textarea type="text" class="form-control" rows="3" id="txt-description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="txt-category">Category</label>
                        <select class="form-control" id="txt-categories">
                            {{#each getcategories}}
                            <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                   
             
                           <button type="submit" class="btn btn-primary" id="btn-create">Create</button>
                    <button type="submit" class="btn btn-warning" id="btn-update">Update</button>

                </div>
              
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  
    
    
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <button type="button" class="btn btn-primary " id="btn-new" >
                    <i class="glyphicon glyphicon-plus"></i>
                </button> &nbsp;&nbsp;
                Items
               
            </div>
            

            <!-- Table -->
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center;">Image</th>
                        <th style="text-align: center;">Name</th>
                        <th style="text-align: center;">Price</th>
                        <th style="text-align: center;" class="hidden-xs">Description</th>
                        <th style="text-align: center;" class="hidden-xs">Category</th>
                        <th style="text-align: center;">Edit</th>
                        <th style="text-align: center;">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each getitems}}
                    <tr>
                        <td width="110px"><img src="{{img}}" style="width:150px;" alt="{{name}}"></td>
                        <td style="text-align: center;">{{name}}</td>
                        <td style="text-align: center;">{{price}}</td>
                        <td class="hidden-xs" style="text-align: center;">{{description}}</td>
                        <td class="hidden-xs" style="text-align: center;">{{categoryname}}</td>

                        <td width="60px" style="text-align: center"><button class="btn btn-warning" data-action="edit-item" value="{{_id}}" img="{{img}}" name="{{name}}" categoryname="{{categoryname}}" categoryid="{{categoryid}}" price="{{price}}" description="{{description}}" ><i class="glyphicon glyphicon-pencil"></i></button></td>
                        <td width="60px" style="text-align: center"><button class="btn btn-danger" data-action="remove-item" value="{{_id}}" ><i class="glyphicon glyphicon-remove"></i></button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            </div>

 
   
</template>